/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    /* border:0; */
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
====================================================================
Desktop
====================================================================
*/

* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#wrapper {
  border: none;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.container {
  display: flex;
}

.v-container {
  display: flex;
  flex-direction: column;
}

/* TOP NAVBAR */

#top-nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.nav-left {
  display: flex;
}

.mobile-menu {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  color: black;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.nav-right {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  color: black;
}

/* MAIN TITLE */

.main-title {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 0, 255, 0.445);
}

/* FEATURED STORIES */

.featured {
  background-color: rgba(255, 166, 0, 0.562);
}

.featured > .container{
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  padding: 10px;
}

.featured-item {
  background-color: pink;
  grid-row-start: 1;
  grid-row-end: 3;
}

.featured-item:first-child {
  background-color: orange;
  grid-area: 1 / 1 / 4 / 3;
}

.featured-item:nth-child(4) {
  background-color: darkturquoise;
  grid-area: 4 / 1 / 6 / 3;
}

.featured-item:last-child {
  background-color: orange;
  grid-area: 3 / 3 / 6 / 5;
}

/* POPULAR STORIES */

.popular {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: rgba(0, 0, 255, 0.521);
}

.popular > .container {
  justify-content: space-around;
  width: 100%;
}

.popular-item {
  background-color: beige;
  width: 15%;
  height: 150px;
}

/* LATEST STORIES */

.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(255, 0, 0, 0.473);
}

.latest > .container{
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
}

.latest-item {
  width: 25%;
  height: 50%;
}

/* CHANNELS */

.channels {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: rgba(0, 128, 0, 0.527);
}

.channels > .container {
  height: 200px;
  justify-content: space-around;
}

.channel-item {
  height: 100%;
  width: 15%;
  background-color: purple;
}

/* NEWSLETTER */

.newsletter {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: violet;
}

.control {
  width: 70%;
  display: flex;
  border-radius: 5px;
}

.control > input {
  width: 85%;
  border-radius: 5px 0 0 5px;
}

.control > button {
  width: 15%;
  border-radius: 0 5px 5px 0;
}

.social-logos {
  display: flex;
  justify-content: center;
  width: min-content;
}

.social-logo {
  height: 40px;
  width: 40px;
  background-color: goldenrod;
  margin-right: 4px;
}

.social-logo:last-child {
  margin-right: 0;
}

/* VIDEOS */

.watch {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: rgba(255, 192, 203, 0.507);
}

.watch > .container {
  height: 400px;
  justify-content: space-around;
}

.main-vid {
  width: 70%;
  background-color: green;
}

.side-videos {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-vid {
  background-color: yellow;
  width: 100%;
  height: 33%;
}

/* WORK SECTION */

.work {
  background-color: grey;
}

.work > .container {
  height: 400px;
}

.work-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.work-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  width: 50%;
}

.service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: orangered;
}

.logos {
  display: flex;
  justify-content: center;
  height: 100px;
}

.logo {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 50px;
  font-variant: small-caps;
  border-radius: 5px;
}

/* FOOTER */

footer {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: rgba(165, 42, 42, 0.473);
}

#bottom-nav {
  display: flex;
}

.footer-left,
.footer-right {
  width: 50%;
  height: 300px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: brown;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-right {
  background-color: cornflowerblue;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-links > a {
  margin-top: 10px;
}

.bottom {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* min-width: 767px to max-width: 1023px */

/*
====================================================================
Tablet
====================================================================
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    color: red;
  }

  /* TOP NAVBAR */
  
  .mobile-menu {
    display: flex;
  }

  .nav-links,
  .nav-right {
    display: none;
  }

  /* MAIN TITLE */

  .main-title {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 5rem;
  }

  /* FEATURED STORIES */

  .featured > .container{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .featured-item {
    grid-row-start: auto;
    grid-row-end: auto;
  }
  
  .featured-item:first-child {
    grid-row-start: 1 / 3;
  }
  
  .featured-item:nth-child(4) {
    grid-area: auto;
  }
  
  .featured-item:last-child {
    grid-area: auto;
  }

  /* POPULAR STORIES */

  .popular {
    align-items: center;
  }
  
  .popular > .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .popular-item {
    width: 100%;
    height: 50px;
  }

  /* LATEST STORIES */
  
  .latest > .container{
    flex-wrap: wrap;
    height: auto;
  }
  
  .latest-item {
    width: 50%;
    height: 200px;
  }

  /* CHANNELS */

  .channels > .container {
    height: 200px;
    justify-content: space-around;
    overflow-x: auto;
  }
  
  .channel-item {
    height: 100%;
    flex: 0 0 250px;
    margin-right: 12px;
  }

  /* WORK SECTION */
  
  .work > .container {
    height: 400px;
  }
    
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .logo {
    height: 120px;
    width: 33%;
  }
  
  button {
    width: 200px;
    height: 50px;
    font-variant: small-caps;
    border-radius: 5px;
  }

  /* FOOTER */
  
  #bottom-nav {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
  width: 100%;
  height: auto;
  }
}



/*
====================================================================
Mobile
====================================================================
*/

@media screen and (max-width: 767px) {
  * {
    color: blue;
  }

  /* TOP NAVBAR */

  .mobile-menu {
    display: flex;
  }

  .nav-links,
  .nav-right {
    display: none;
  }

  /* MAIN TITLE */

  .main-title {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 5rem;
  }

  /* FEATURED STORIES */

  .featured {
    height: 600px;
    position: relative;
  }

  .featured > .container {
    height: 400px;
    display: flex;
    overflow-x: auto;
  }
  
  .featured-item {
    flex: 0 0 600px;
  }

  .featured-item:nth-child(4) {
    position: absolute;
    bottom: 25px;
    width: 97%;
    height: 150px;
  }

  /* POPULAR STORIES */

  .popular {
    align-items: center;
  }
  
  .popular > .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .popular-item {
    width: 100%;
    height: 50px;
  }

  /* LATEST STORIES */

  .latest > .container{
    flex-wrap: none;
    height: auto;
  }
  
  .latest-item {
    width: 100%;
    height: 100px;
  }

  /* CHANNELS */

  .channels > .container {
    height: 200px;
    justify-content: space-around;
    overflow-x: auto;
  }

  .channel-item {
    height: 100%;
    flex: 0 0 250px;
    margin-right: 12px;
  }

  /* VIDEOS */

  .watch {
    padding-top: 80px;
    padding-bottom: 80px;
  
    background-color: rgba(255, 192, 203, 0.507);
  }
  
  .watch > .container {
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .side-videos {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main-vid {
    width: 100%;
    height: 70%;
    background-color: green;
  }
  
  .side-vid {
    background-color: yellow;
    width: 33%;
    height: 100%;
  }

  /* WORK SECTION */

  .work > .container {
    height: auto;
    flex-direction: column;
  }
  
  .work-paragraph,
  .work-services {
    width: 100%;
    height: 300px;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orangered;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
  
  .logo {
    height: 120px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    width: 200px;
    height: 50px;
    font-variant: small-caps;
    border-radius: 5px;
  }

  /* FOOTER */

  #bottom-nav {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
  width: 100%;
  height: auto;
  }
}